# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
# Editor-specific files
/dataSources.local.xml
dataSources.local.xml
FastApi-Seed.iml
misc.xml
modules.xml
.idea/*
.idea/*\*
out/
# Gradle
.gradle/
vcs.xml
workspace.xml
/logs/*
profiles_settings.xml
*.db
app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/dependencies.cpython-310.pyc
app/__pycache__/main.cpython-310.pyc
app/core/__pycache__/__init__.cpython-310.pyc
app/core/__pycache__/security.cpython-310.pyc
app/crud/__pycache__/__init__.cpython-310.pyc
app/crud/__pycache__/database.cpython-310.pyc
app/crud/__pycache__/user.cpython-310.pyc
app/external_services/__pycache__/__init__.cpython-310.pyc
app/external_services/file_uploader/__pycache__/__init__.cpython-310.pyc
app/external_services/file_uploader/__pycache__/service.cpython-310.pyc
app/middleware/__pycache__/__init__.cpython-310.pyc
app/middleware/__pycache__/cors.cpython-310.pyc
app/middleware/__pycache__/logger_config.cpython-310.pyc
app/models/__pycache__/__init__.cpython-310.pyc
app/models/__pycache__/user.cpython-310.pyc
app/routers/__pycache__/__init__.cpython-310.pyc
app/routers/__pycache__/auth.cpython-310.pyc
app/routers/__pycache__/files.cpython-310.pyc
app/routers/__pycache__/user.cpython-310.pyc
app/schemas/__pycache__/__init__.cpython-310.pyc
app/schemas/__pycache__/response.cpython-310.pyc
app/schemas/__pycache__/user.cpython-310.pyc
